$highlight-color: #E87C1E;
$grey-color: #555555;
$complement-color: #1c94c4;
$complement-light: #d6e8ef;
$frame-background-color: #F1F1F1;
$text-color: #000;
// Beware the version number MUST beging with a letter otherwise it may be truncated...
$version: v2.2.0;