
.ibo-blocklist--empty-text, .ibo-blocklist--create-new{
  text-align: center;
}
.ibo-blocklist--medallion{
  
  > .ibo-medallion--image{
    margin: 0 auto;
  }
  > .ibo-medallion-icon--description{
    text-align: center;
  }
}
