# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

# don't add newlines to test files
[tests/*]
indent_style = tabs
trim_trailing_whitespace = false
insert_final_newline = false
