<!-- Copyright (c) 2010-2021 Combodo SARL -->
<!-- -->
<!--   This file is part of iTop. -->
<!-- -->
<!--   iTop is free software; you can redistribute it and/or modify	 -->
<!--   it under the terms of the GNU Affero General Public License as published by -->
<!--   the Free Software Foundation, either version 3 of the License, or -->
<!--   (at your option) any later version. -->
<!-- -->
<!--   iTop is distributed in the hope that it will be useful, -->
<!--   but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!--   GNU Affero General Public License for more details. -->
<!-- -->
<!--   You should have received a copy of the GNU Affero General Public License -->
<!--   along with iTop. If not, see <http://www.gnu.org/licenses/> -->
<!-- -->

<phpunit bootstrap="unittestautoload.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="\PHPUnit\TextUI\ResultPrinter"
         processIsolation="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">

    <testsuites>
        <testsuite name="Extensions">
            <directory>../env-production/*/test</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>core</directory>
        </testsuite>
        <testsuite name="Webservices">
          <directory>webservices</directory>
        </testsuite>
        <testsuite name="Tickets">
            <directory>itop-tickets</directory>
        </testsuite>
        <testsuite name="Application">
            <directory>application</directory>
        </testsuite>
        <!--testsuite name="OQL">
            <directory>OQL</directory>
        </testsuite-->
        <testsuite name="Status">
            <directory>status</directory>
        </testsuite>
        <testsuite name="Synchro">
            <directory>synchro</directory>
        </testsuite>
        <testsuite name="Setup">
            <file>setup/SetupUtilsTest.php</file>
        </testsuite>
        <testsuite name="Integration">
            <directory>integration</directory>
        </testsuite>
        <testsuite name="CoreExtensions">
            <directory>coreExtensions</directory>
        </testsuite>
    </testsuites>

    <!-- Code coverage white list -->
    <filter>
        <whitelist>
            <file>../core/apc-emulation.php</file>
            <file>../core/ormlinkset.class.inc.php</file>
            <file>../datamodels/2.x/itop-tickets/main.itop-tickets.php</file>
        </whitelist>
    </filter>

</phpunit>
