<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        backupGlobals="true"
        colors="true"
        columns="120"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnRisky="false"
        stopOnSkipped="false"
        verbose="true"
        printerClass="\Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
>

  <extensions>
    <extension class="Combodo\iTop\Test\UnitTest\Hook\TestsRunStartHook" />
  </extensions>

  <php>
    <ini name="memory_limit" value="512M"/>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="On"/>
    <ini name="log_errors" value="On"/>
    <ini name="html_errors" value="Off"/>
    <env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true"/>
  </php>

  <testsuites>
    <!-- Unitary tests -->
    <testsuite name="Application">
      <directory>unitary-tests/application</directory>
    </testsuite>
    <testsuite name="Core">
      <directory>unitary-tests/core</directory>
    </testsuite>
    <testsuite name="Datamodels">
      <directory>unitary-tests/datamodels/2.x</directory>
    </testsuite>
    <testsuite name="Setup">
      <directory>unitary-tests/setup</directory>
    </testsuite>
    <testsuite name="Sources">
      <directory>unitary-tests/sources</directory>
    </testsuite>
    <testsuite name="Synchro">
      <directory>unitary-tests/synchro</directory>
    </testsuite>
    <testsuite name="Webservices">
      <directory>unitary-tests/webservices</directory>
    </testsuite>

    <testsuite name="Extensions">
      <directory>../../env-production/*/test</directory>
      <directory>../../env-production/*/tests/php-unit-tests</directory>
    </testsuite>

    <!-- Integration tests -->
    <testsuite name="Integration">
      <directory>integration-tests</directory>
    </testsuite>
  </testsuites>

  <!-- Code coverage white list  -->
  <filter>
    <whitelist>
      <file>../../core/apc-emulation.php</file>
      <file>../../core/ormlinkset.class.inc.php</file>
      <file>../../datamodels/2.x/itop-tickets/main.itop-tickets.php</file>
    </whitelist>
  </filter>

</phpunit>
