{# @copyright   Copyright (C) 2010-2020 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% extends 'base/components/title/layout.html.twig' %}

{% block iboPageTitleText %}
    <h1 class="ibo-title--for-object-details">{{ oUIBlock.GetObjectName()|raw }}</h1>
    <div class="ibo-title--subtitle">
        <span class="ibo-title--status">
            <span class="ibo-title--status-dot ibo-is-state-{{ oUIBlock.GetStatusColor() }}"></span>
            <span class="ibo-title--status-label">{{ oUIBlock.GetStatusLabel() }}</span>
        </span>
        <span class="ibo-title--object-class">{{ oUIBlock.GetClassName() }}</span>
    </div>
{% endblock %}