<div class="ibo-welcome-popup--columns">
    <div class="ibo-welcome-popup--image ibo-svg-illustration--container">
        {{ source("images/illustrations/undraw_relaunch_day.svg") }}
    </div>
    <div class="ibo-welcome-popup--text">
        <div>
            {{ 'UI:WelcomeMenu:Text'| dict_s|raw }}
        </div>
    </div>
</div>