{% extends "base/components/input/layout.html.twig" %}
{% block iboInput %}
<span class="ibo-toggler--wrapper">
        {{ parent() }}
    <span class="ibo-toggler--slider"></span>
</span>
{% endblock %}
