{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% extends "base.html.twig" %}

{% block login_content %}
<div id="login-content">
	<div id="login-title">
		<h1>{{ 'UI:Login:ForgotPwdForm'|dict_s }}</h1>
		<p>{{ 'UI:ResetPwd-EmailSent'|dict_s }}</p>
	</div>
	<div id="forgot_pwd_sent">
		<input type="button" class="forgot_pwd_done" onClick="window.close();" value="{{ 'UI:Button:Done'|dict_s }}">
	</div>
</div>
{% endblock %}