{% apply spaceless %}
    {# <div id="{{ oUIBlock.GetId() }}" class="ibo-content-block"> #}
    {% block iboContentBlockContainer %}
        {% for oSubBlock in oUIBlock.GetSubBlocks() %}
            {{ render_block(oSubBlock, {aPage: aPage}) }}
        {% endfor %}
    {% endblock %}
    {# </div> #}
{% endapply %}