<div {% if oUIBlock.Id is defined %}id="{{ oUIBlock.Id }}"{% endif %} class="ibo-popover-menu" data-role="ibo-popover-menu">
	{% for aSection in oUIBlock.Sections %}
		{% if aSection.aItems|length > 0 %}
			<div class="ibo-popover-menu--section" data-role="ibo-popover-menu--section">
				{% for oUIBlockItem in aSection.aItems %}
					{{ render_block(oUIBlockItem) }}
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
</div>