{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% extends 'base/layouts/object/object-details/layout.html.twig' %}

{% block iboPanelHeaderOuter %}
{% endblock %}
    
{% block iboPanelBody %}
    <div class="ibo-object-summary--header">
    {% block iboPanelHeader %}
        {{ parent() }}
    {% endblock %}
    </div>
    <div class="ibo-object-summary--body">
        <div class="ibo-object-summary--content--attributes">
        {% for attcode,attval in oUIBlock.GetDisplayValues() %}
            <div class="ibo-object-summary--content--attribute ibo-field ibo-field-small">
                <span class="ibo-object-summary--content--attributes--code ibo-field--label">{{ attcode|raw }}</span>
                <span class="ibo-object-summary--content--attributes--value ibo-field--value">{{ attval|raw }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}