.ibo-blocklist--empty-text, .ibo-blocklist--create-new{
  text-align: center;
}
.ibo-blocklist--medallion{
  > .ibo-medallion-icon--image{
    margin: 0 auto;
  }
  > .ibo-medallion-icon--description{
    flex-grow: 1;
  }
}
