<nav id="{{ oUIBlock.Id }}" class="ibo-top-bar">
	<div class="ibo-top-bar--quick-actions">
		{% if oUIBlock.HasQuickCreate %}
			{{ render_block(oUIBlock.QuickCreate) }}
		{% endif %}
		{% if oUIBlock.HasGlobalSearch %}
			{{ render_block(oUIBlock.GlobalSearch) }}
		{% endif %}
	</div>
	{% if oUIBlock.HasBreadcrumbs %}
		{{ render_block(oUIBlock.Breadcrumbs) }}
	{% endif %}
</nav>