<nav id="{{ oTopBar.Id }}" class="ibo-top-bar">
	<div class="ibo-top-bar--quick-actions">
		{% if oTopBar.HasQuickCreate %}
			{{ render_block(oTopBar.QuickCreate) }}
		{% endif %}
		{% if oTopBar.HasGlobalSearch %}
			{{ render_block(oTopBar.GlobalSearch) }}
		{% endif %}
	</div>
	{% if oTopBar.HasBreadcrumbs %}
		{{ render_block(oTopBar.Breadcrumbs) }}
	{% endif %}
</nav>