{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div class="option simple-option-renderer" role="option">

    <div class="simple-option-renderer--container" data-template-add-class="class">

        <img class="simple-option-renderer--container--icon" src="" data-template-attr-src="img">

        <span class="simple-option-renderer--container--label" data-template-text="label">
        </span>
        
        <span class="simple-option-renderer--container--complementary" data-template-text="complementary-text">
        </span>
    </div>

</div>