{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div class="option simple-option-renderer" role="option">

    <div class="simple-option-renderer--container" data-template-add-class="class">

        <i class="simple-option-renderer--container--icon" data-template-add-class="icon"></i>

        <span class="simple-option-renderer--container--label" data-template-text="label">
        </span>

    </div>

</div>