/* SCSS variables */
$btn--border-radius: $common-border-radius-300 !default;
$btn--active--color: $common-color-white-100 !default;
$btn--active--background-color: $common-color-blue-grey-900 !default;

.btn{
  border-radius: $btn--border-radius !important;
}

.btn.active{
  background-color: #263238 !important;
  color: $btn--active--color !important;
}

.btn-group .btn:first-child{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-group .btn:last-child{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

// todo
.btn.btn-secondary:hover {
  color: unset;
}

.btn.btn-secondary:active {
  color: unset;
}

