{% extends 'application/object/set/option_renderer.html.twig' %}

{# Additional content#}
{% block additional_content %}

    {# object occurences #}
    <span data-template-text="occurrence_label" style="position: absolute;right: 5px;color: #666;"></span>

{% endblock %}