{% extends 'application/object/set/item_renderer.html.twig' %}

{# Additional content#}
{% block additional_content %}

    {# object occurences #}
    <span data-template-text="occurrence_info" style="flex-grow: 1;margin-left: 10px;"></span>

    <div class="radio-toolbar" style="float: right;display: none">
        <input type="radio" value="add" checked data-template-attr-name="key">
        <label data-template-attr-for="key">Add</label>
        <input type="radio"  value="remove" data-template-attr-name="key">
        <label data-template-attr--for="key">Remove</label>
    </div>

{% endblock %}