<div data-template-title="friendlyname" class="friendlyname">

    {# obsolescence #}
    <span class="object-ref-icon text_decoration" data-template-condition="obsolescence_flag">
        <span class="fas fa-eye-slash object-obsolete fa-1x fa-fw"></span>
    </span>

    {# friendly name #}
    <span data-template-text="friendlyname"></span>

</div>