<form method="post"{% if oUIBlock.GetOnSubmitJsCode() %} {{ oUIBlock.GetOnSubmitJsCode() }}{% endif %}>
    {% apply spaceless %}
        {% block iboContentBlockContainer %}
            {% for oSubBlock in oUIBlock.GetSubBlocks() %}
                {{ render_block(oSubBlock, {aPage: aPage}) }}
            {% endfor %}
        {% endblock %}
    {% endapply %}
</form>