{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<tr>
	<td colspan="2" class="center v-spacer">
		<span class="btn_border">
			<input type="submit" value="{{ 'UI:Button:Login'|dict_s }}" />
		</span>
	</td>
</tr>
