{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% if aData.bEnableResetPassword %}
	<tr>
		<td colspan="2" class="center v-spacer">
			<a href="{{ aData.sResetPasswordUrl }}" target="_blank">{{ 'UI:Login:ForgotPwd'|dict_s }}</a>
		</td>
	</tr>
{%  endif %}
