{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}
    <div id="{{ oUIBlock.GetId() }}" class="ibo-dashlet-header-static {% if oUIBlock.IsHidden() %}ibo-is-hidden{% endif %}" data-role="ibo-dashlet-header-static">
        <div class="ibo-dashlet-header-static--body">
            {% if oUIBlock.GetIconUrl() is not empty %}
                <div class="ibo-dashlet-header-static--icon-container">
                    {# Mind the empty "alt" attribute https://www.w3.org/WAI/tutorials/images/decorative/ #}
                    <img class="ibo-dashlet-header-static--icon" src="{{ oUIBlock.GetIconUrl()|raw }}" alt="">
                </div>
            {% endif %}
            {% if oUIBlock.GetTitle() is not empty %}
                <div class="ibo-dashlet-header-static--title">{{ oUIBlock.GetTitle() }}</div>
            {% endif %}
        </div>
    </div>
{% endapply %}