<div data-role="ibo-navigation-menu--notifications-menu--container">
	<div {% if oUIBlock.GetId() is defined %}id="{{ oUIBlock.GetId() }}"{% endif %} class="ibo-popover-menu"
	     data-role="ibo-popover-menu"></div>
</div>
