<div data-role="ibo-navigation-menu--notifications-menu--container">
    <div {% if oUIBlock.Id is defined %}id="{{ oUIBlock.Id }}"{% endif %} class="ibo-popover-menu" data-role="ibo-popover-menu">
    </div>
</div>
