/* SCSS variables */
$ipb-home--tiles-wrapper--padding: $common-spacing-800 !default;
$ipb-tile--title--color: $combodo-dark-gray-darker !default;

.ipb-main-header{

  color: $ipb-tile--title--color;


}

.ipb-main-header:after{
    content:url('../img/icons/dot.png');
}

.ipb-home{
  overflow: hidden;
}

.ipb-home:before{
  content: '';
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/backgrounds/dots-pattern.svg");
  -webkit-clip-path: inset(50% 0 0 50%);
  clip-path: inset(50% 0 0 50%);
  background-size: cover;
  z-index: -1;
}

.ipb-home--tiles-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $ipb-home--tiles-wrapper--padding;
}