#sidebar{
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 0 8px 8px 0;
  align-items: flex-start;

  .logo img{
    max-width: 100%;
    height: 50px;
  }
  .user_card{
  align-self: flex-end;
  }
  .menu{
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .navbar-nav > li {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      > a {
        width: 48px;
        padding: 4px 8px;
        height: auto;
        flex-grow: 0;
        border-radius: 5px;
      }
      }
    }
}

.ipb-navigation-menu--menu-entry--title{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}