/* SCSS variables */
$ipb-tile--title--color: $combodo-dark-gray-darker !default;
$ipb-tile--subtitle--color: $combodo-dark-gray-darker !default;
$ipb-home--tiles-wrapper--padding: $common-spacing-800 !default;

.ipb-page--main-wrapper{
  flex-grow: 1;
  padding: 15px 30px;
}

.ipb-page--main-header{
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ipb-page--main-header--information{
  flex-grow: 1;
}

.ipb-page--main-header--information--title{
  color: $ipb-tile--title--color;

  > span:first-child{
    @include ipb-following-dot;
  }
}

.ipb-page--main-header--information--subtitle{
  color: $ipb-tile--subtitle--color;
}

.ipb-page--tiles-flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $ipb-home--tiles-wrapper--padding;
}

@media (max-width: 768px) {

  .ipb-page--main-wrapper {
    width: 100%;
    padding: 0;
  }

  .ipb-page--tiles-flex-wrapper{
    padding: 0;

    .ipb-page--tile{
      width: 100%;
    }
  }

}