$ipb-manage-brick--panel--body--padding-y: $common-spacing-500 !default;
$ipb-manage-brick--panel--body--padding-x: $common-spacing-0 !default;

$ipb-manage-brick--panel--body--datatable--padding-y: $common-spacing-200 !default;
$ipb-manage-brick--panel--body--datatable--padding-x: $common-spacing-0 !default;
$ipb-manage-brick--panel--body--datatable--row--margin: $common-spacing-0 !default;
$ipb-manage-brick--panel--body--datatable--row--padding-y: $common-spacing-0 !default;
$ipb-manage-brick--panel--body--datatable--row--padding-x: $common-spacing-400 !default;

$ipb-manage-brick--tabs--tab--border: solid 1px $common-color-grey-400 !default;
$ipb-manage-brick--tabs--tab--badge--border-radius: $common-border-radius-500 !default;
$ipb-manage-brick--tabs--tab--badge--padding-y: 3px !default;
$ipb-manage-brick--tabs--tab--badge--padding-x: 5px !default;
$ipb-manage-brick--tabs--tab--badge--margin-left: $common-spacing-200 !default;

$ipb-manage-brick--tabs--tab--background-color: $common-color-grey-100 !default;
$ipb-manage-brick--tabs--tab--color: $common-color-grey-900 !default;
$ipb-manage-brick--tabs--tab--active--background-color: $common-color-white-100 !default;
$ipb-manage-brick--tabs--tab--active--badge--background-color: $common-color-grey-200 !default;
$ipb-manage-brick--tabs--tab--active--indicator--background-color: $common-color-primary-600 !default;
$ipb-manage-brick--tabs--tab--active--indicator--width: $common-size-150 !default;
$ipb-manage-brick--tabs--tab--active--indicator--height: $ipb-manage-brick--tabs--tab--active--indicator--width !default;
$ipb-manage-brick--tabs--tab--active--indicator--margin-right: $common-spacing-300 !default;
$ipb-manage-brick--tabs--tab--active--indicator--border-radius: $common-border-radius-full !default;

$ipb-manage-brick--panel--body--table--margin-top: $common-spacing-500 !default;

.ipb-manage-brick--panel--body {
  padding: $ipb-manage-brick--panel--body--padding-y $ipb-manage-brick--panel--body--padding-x 0 $ipb-manage-brick--panel--body--padding-x;
  
  > .dataTables_wrapper {
    padding: $ipb-manage-brick--panel--body--datatable--padding-y $ipb-manage-brick--panel--body--datatable--padding-x;
    > .row {
      margin: $ipb-manage-brick--panel--body--datatable--row--margin;
      > div {
        padding: $ipb-manage-brick--panel--body--datatable--row--padding-y $ipb-manage-brick--panel--body--datatable--row--padding-x;
      }
    }
  }


}
.ipb-manage-brick--tabs.grouping_tabs.nav-pills > li{
  > a {
    display: flex;
    align-items: center;
    background-color: $ipb-manage-brick--tabs--tab--background-color;
    color: $ipb-manage-brick--tabs--tab--color;
    
    @extend %common-font-ral-med-150;

    > .badge {
      color: $common-color-grey-900;
      background-color: transparent;
      border-radius: $ipb-manage-brick--tabs--tab--badge--border-radius;
      padding: $ipb-manage-brick--tabs--tab--badge--padding-y $ipb-manage-brick--tabs--tab--badge--padding-x;
      margin-left: $ipb-manage-brick--tabs--tab--badge--margin-left;
    }

    border: $ipb-manage-brick--tabs--tab--border;
    border-bottom: none;
  }
  
  &.active > a {
    background-color: $ipb-manage-brick--tabs--tab--active--background-color;
    
    &:before {
      content: " ";
      display: inline-block;
      width: $ipb-manage-brick--tabs--tab--active--indicator--width;
      height: $ipb-manage-brick--tabs--tab--active--indicator--height;
      margin-right: $ipb-manage-brick--tabs--tab--active--indicator--margin-right;
      border-radius: $ipb-manage-brick--tabs--tab--active--indicator--border-radius;
      background-color: $ipb-manage-brick--tabs--tab--active--indicator--background-color;
    }
    
    > .badge {
      background-color: $ipb-manage-brick--tabs--tab--active--badge--background-color;
    }
  }
}

.ipb-manage-brick--panel--body--table  {
  margin-top: $ipb-manage-brick--panel--body--table--margin-top !important;
}

.ipb-manage-brick--export-action {
  color: $common-color-grey-800;
}

.ipb-manage-brick--export-action--icon {
  float: right;
}

$ipb-manage-brick--pie-chart--colors: 
$common-color-blue-400 $common-color-blue-950 "rgb(44, 160, 44)",
$common-color-blue-500 $common-color-blue-950 "rgb(214, 39, 40)",
$common-color-blue-600 $common-color-blue-100 "rgb(148, 103, 189)",
$common-color-blue-700 $common-color-blue-100 "rgb(140, 86, 75)",
$common-color-blue-800 $common-color-blue-100 "rgb(227, 119, 194)",
$common-color-blue-900 $common-color-blue-100 "rgb(127, 127, 127)",
$common-color-blue-950 $common-color-blue-100 "rgb(188, 189, 34)",
$common-color-blue-100 $common-color-blue-950 "rgb(23, 190, 207)",
$common-color-blue-200 $common-color-blue-950 "rgb(31, 119, 180)",
$common-color-blue-300 $common-color-blue-950 "rgb(255, 127, 14)"
!default;

@each $background, $text, $originalColor in $ipb-manage-brick--pie-chart--colors {
.c3-chart-arc path[style="fill: #{$originalColor}; cursor: pointer; opacity: 1;"] {
  fill: $background !important;
}
.c3-legend-item-tile[style="stroke: #{$originalColor}; pointer-events: none;"] {
  stroke: $background !important;
}
.c3-chart-arc:has(path[style="fill: #{$originalColor}; cursor: pointer; opacity: 1;"])  text {
  fill: $text !important;
}
}