@CHARSET "UTF-8";
@media print {
	html {
		font-size: 10pt;
		break-after: auto;
	}
	table {
		max-width: 19cm;
	}
	@page {
		margin: 1cm;
		size: A4;
	}
	body  { margin: 0; }

	panel-heading,
	panel-body,
	panel-body>div{
		padding-left: 0;
	}
	.row, .row div{
		margin: 0 !important;
		padding: 0 !important;
	}

	a[href]:after,
	img[src]:after{
		content: none !important;
	}

	ul.grouping_tabs>li:not(.active),
	.dataTables_length,
	.modal-header button.close,
	a span:before,
	.form_buttons,
  [type=button],
  .upload_container{
		display: none;
	}

	.cke,
  #drag_overlay,
  #sidebar,
	.navbar-header{
		display: none !important;
	}

	.container-fluid {
		page-break-after: always;
	}

	.modal-open,
	.modal {
		overflow: auto;
	}

	.modal-backdrop,
	.modal {
		position: static;
		bottom: auto;
	}

	.modal-content {
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		border: none;
	}
	.modal-header {
		padding-before: 0;
		margin-before: 0;
	}

}
