<div class="{{ aSessionMessage['css_classes'] }}" {{ aSessionMessage['metadata']|raw }}>
	<button type="button" class="close" data-dismiss="alert" aria-label="X"><span class="fas fa-times"></span></button>
	{{ aSessionMessage['message'] }}
</div>