<h1><itopstring>UI:ConfigurationItemsMenu:Title</itopstring></h1>
<table border="0" padding="5" class="layout" width="100%">
<tr>
<td class="dashboard">
<itopblock BlockClass="DisplayBlock" type="open_flash_chart" parameters="chart_type:pie;chart_title:UI-ConfigurationItemsMenu-ServersByCriticity;group_by:importance" asynchronous="false" encoding="text/oql">SELECT Server</itopblock>
</td>
<td class="dashboard">
<itopblock BlockClass="DisplayBlock" type="open_flash_chart" parameters="chart_type:pie;chart_title:UI-ConfigurationItemsMenu-PCsByCriticity;group_by:importance" asynchronous="false" encoding="text/oql">SELECT PC</itopblock>
</td>
</tr>
<tr>
<td class="dashboard">
<itopblock BlockClass="DisplayBlock" type="open_flash_chart" parameters="chart_type:pie;chart_title:UI-ConfigurationItemsMenu-NWDevicesByCriticity;group_by:importance" asynchronous="false" encoding="text/oql">SELECT NetworkDevice</itopblock>
</td>
<td class="dashboard">
<itopblock BlockClass="DisplayBlock" type="open_flash_chart" parameters="chart_type:pie;chart_title:UI-ConfigurationItemsMenu-ApplicationsByCriticity;group_by:importance" asynchronous="false" encoding="text/oql">SELECT ApplicationSolution</itopblock>
</td>
</tr>
</table>
