<div class="page_header">
	<itopblock blockclass="MenuBlock" type="popup" encoding="text/sibusql" label="Actions">$class$: pkey = $pkey$</itopblock>
	<h1>$class$: <span class="hilite">$name$</span></h1>
	<itopblock blockclass="HistoryBlock" type="toggle" encoding="text/sibusql">CMDBChangeOpSetAttribute: objkey = $pkey$</itopblock>
</div>
<img src="../images/messagebox_warning.png" style="margin-top:-10px; margin-right:10px; float:right">
<itopblock blockclass="DisplayBlock" asynchronous="true" type="bare_details" encoding="text/sibusql">$class$: pkey = $pkey$</itopblock>
<itoptabs>
	<itoptab name="Impacted_Infrastructure">
		<itopblock blockclass="DisplayBlock" type="list" encoding="text/sibusql">logInfra: PKEY IS infra_id IN (lnkInfraTicket: ticket_id = $pkey$)</itopblock>
	</itoptab>
	<itoptab name="Related_Incidents">
		<itopblock blockclass="DisplayBlock" type="list" encoding="text/sibusql">lnkRelatedTicket: ticket_id = $pkey$</itopblock>
	</itoptab>
	<itoptab name="Contacts_to_Notify">
		<itopblock blockclass="DisplayBlock" type="list" encoding="text/sibusql">lnkContactTicket: ticket_id = $pkey$</itopblock>
	</itoptab>


</itoptabs>
<br style="clear:both"/>
