{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div>
		<label for="user">{{ 'UI:Login:UserNamePrompt'|dict_s }}</label>
		<input id="user" class="ibo-input" type="text" name="auth_user" tabindex="1" value="{{ aData.sAuthUser }}" autofocus>
</div>
<div>
		<label for="pwd">{{ 'UI:Login:PasswordPrompt'|dict_s }}</label>
		<input id="pwd" class="ibo-input" type="password" name="auth_pwd" tabindex="2" autocomplete="off" value="{{ aData.sAuthPwd }}">
</div>
