{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div>
	<input type="submit" value="{{ 'UI:Button:Login'|dict_s }}" tabindex="3" />
</div>
