{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div>
	<input type="submit" value="{{ 'UI:Button:Login'|dict_s }}" tabindex="3">
</div>
