{% extends 'layouts/activity-panel/activity-entry/layout.html.twig' %}

{% block iboActivityEntryExtraClasses %}ibo-edits-entry{% endblock %}
{% block iboActivityEntryType %}edits{% endblock %}

{% block iboActivityEntryMainInformationIcon %}
	<span class="fas fa-fw fa-pen"></span>
{% endblock %}

{% block iboActivityEntryMainInformationContent %}
	{% if oUIBlock.GetAttributes()|length == 1 %}
		<span class="ibo-edits-entry--short-description">{{ oUIBlock.GetShortDescriptionAsHtml()|raw }}</span>
	{% else %}
		<a href="#" class="ibo-edits-entry--short-description" data-role="ibo-edits-entry--long-description-toggler">
			{{ oUIBlock.GetShortDescriptionAsHtml()|raw }}
			<span class="ibo-edits-entry--long-description-toggler-icon fa fa-caret-down"></span>
		</a>
		<ul class="ibo-edits-entry--long-description" data-role="ibo-edits-entry--long-description">
			{% for sAttCode, aAttData in oUIBlock.GetAttributes() %}
				<li class="ibo-edits-entry--attribute-description" data-attribute-code="{{ sAttCode }}">{{ aAttData.description|raw }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}