{% extends 'components/popover-menu/item/layout.html.twig' %}

{% block iboPopoverMenuItem %}
    <a class="ibo-popover-menu--item" data-role="ibo-popover-menu--item" href="{{ oUIBlock.Url }}" target="{{ oUIBlock.Target }}">
        {{ oUIBlock.Label }}
    </a>
{% endblock %}

