{% extends 'components/popover-menu/item/layout.html.twig' %}

{% block iboPopoverMenuItem %}
    <a class="ibo-popover-menu--item" data-role="ibo-popover-menu--item" href="{{ oUIBlock.GetUrl() }}" target="{{ oUIBlock.GetTarget() }}">
        {{ oUIBlock.GetLabel() }}
    </a>
{% endblock %}

