{% extends 'components/popover-menu/item/layout.html.twig' %}

{% block iboPopoverMenuItem %}
    <a class="ibo-popover-menu--item" data-role="ibo-popover-menu--item" href="{{ oUrlPopoverMenuItem.Url }}" target="{{ oUrlPopoverMenuItem.Target }}">
        {{ oUrlPopoverMenuItem.Label }}
    </a>
{% endblock %}

