{% extends 'components/popover-menu/item/layout.html.twig' %}

{% block iboPopoverMenuItem %}
    <a class="ibo-popover-menu--item" data-role="ibo-popover-menu--item" href="{{ oJsPopoverMenuItem.Url }}" onclick="{{ oJsPopoverMenuItem.JsCode }}">
        {{ oJsPopoverMenuItem.Label }}
    </a>
{% endblock %}
