<div id="{{ oUIBlock.GetId() }}" class="ibo-alert ibo-is-{{ oUIBlock.GetColor() }}">
    <div class="ibo-alert--title">{{ oUIBlock.GetTitle() }}</div>
    <div class="ibo-alert--body">{{ oUIBlock.GetMainText() }}</div>
</div>