framework:
  #secret: (part of iTop general configuration, will be set dynamically via bridge.php)
  #default_locale: en
  #csrf_protection: true
  #http_method_override: true

  # Enables session support. Note that the session will ONLY be started if you read or write from it.
  # Remove or comment this section to explicitly disable session support.
  session:
    handler_id: null
    cookie_secure: auto
    cookie_samesite: lax
    storage_factory_id: session.storage.factory.native

  #esi: true
  #fragments: true
  php_errors:
    log: true

when@test:
  framework:
    test: true
    profiler: { collect: false }
    router: { strict_requirements: true}
    session:
      storage_factory_id: session.storage.factory.mock_file

when@dev:
  framework:
    profiler: { only_exceptions: false }
    router: { strict_requirements: true}