.db-tools-tab-content{
  .dbt-lostattachments{
    .dbt-steps{
      .dbt-step{
        margin-top: 30px;

        .dbt-step-description{
          padding: 0;
          margin: 0px 0px 5px 0px;
        }

        .dbt-step-number{
          margin-right: 0.3em;
        }

        .listResults{
          tr>*:first-child{
            text-align: center;
          }
        }

        /* This is to avoid long exception message on restore errors */
        .message_error{
          max-height: 150px;
          overflow-y: auto;
        }
      }
    }
  }
}