{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}
    <div style="height:250px;width:100%" class="dashboard_chart" id="my_chart_{{ oUIBlock.sChartId }}{{ oUIBlock.iChartCounter }}">
        <div style="height:200px;line-height:200px;vertical-align:center;text-align:center;width:100%">
            <img src="{{ get_absolute_url_app_root() }}images/indicator.gif">
        </div>
    </div>
{% endapply %}