/* mention list ui customization */
:root {
	--ck-color-list-button-on-background: #EFF0EF;
	--ck-color-list-button-on-background-focus: #EFF0EF;
	--ck-color-list-button-hover-background: #EFF0EF;
	--ck-color-list-button-on-text: black;
}