{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}

	<div id="ibo-page-Footer" data-role="ibo-page-Footer">
		{% if aLayouts.sFooter is not empty %}
			{{ aLayouts.sFooter|raw }}
		{% endif %}
		{{ render_block(aLayouts.oFooter, {aPage: aPage}) }}
	</div>

{% endapply %}