$ipb-button--padding-y: 6px !default;
$ipb-button--padding-x: 9px !default;
$ipb-button-colors: (
  '' : (
    'primary': (
        '': (
            $common-color-blue-800,
            $common-color-white-100,
            $common-color-blue-900
        ),
        ':hover': (
                $common-color-blue-700,
                $common-color-white-100,
                $common-color-blue-800
        ),
        ':active': (
                $common-color-blue-900,
                $common-color-white-100,
                $common-color-blue-950
        ),
        ':disabled': (
                $common-color-blue-200,
                $common-color-blue-600,
                $common-color-blue-300
        ),
    ),
    'default': (
            '': (
                    $common-color-white-100,
                    $common-color-grey-800,
                    $common-color-grey-600
            ),
            ':hover': (
                    $common-color-grey-100,
                    $common-color-grey-900,
                    $common-color-grey-700
            ),
            ':active': (
                    $common-color-grey-200,
                    $common-color-grey-900,
                    $common-color-grey-700
            ),
            ':disabled': (
                    $common-color-grey-200,
                    $common-color-grey-700,
                    $common-color-grey-300
            ),
    ),
    'success': (
            '': (
                    $common-color-success-900,
                    $common-color-white-100,
                    $common-color-success-900
            ),
            ':hover': (
                    $common-color-success-800,
                    $common-color-green-100,
                    $common-color-success-900
            ),
            ':active': (
                    $common-color-success-950,
                    $common-color-green-100,
                    $common-color-success-950
            ),
            ':disabled': (
                    $common-color-grey-200,
                    $common-color-grey-700,
                    $common-color-grey-300
            ),
    ),
    'warning': (
            '': (
                    $common-color-warning-700,
                    $common-color-white-100,
                    $common-color-warning-900
            ),
            ':hover': (
                    $common-color-warning-600,
                    $common-color-warning-100,
                    $common-color-warning-700
            ),
            ':active': (
                    $common-color-warning-800,
                    $common-color-warning-100,
                    $common-color-warning-900
            ),
            ':disabled': (
                    $common-color-grey-200,
                    $common-color-grey-700,
                    $common-color-grey-300
            ),
    ),
    'danger': (
            '': (
                    $common-color-danger-800,
                    $common-color-white-100,
                    $common-color-danger-900
            ),
            ':hover': (
                    $common-color-danger-700,
                    $common-color-danger-100,
                    $common-color-danger-800
            ),
            ':active': (
                    $common-color-danger-900,
                    $common-color-danger-100,
                    $common-color-danger-950
            ),
            ':disabled': (
                    $common-color-grey-200,
                    $common-color-grey-700,
                    $common-color-grey-300
            ),
    ),
    'info': (
            '': (
                    $common-color-information-800,
                    $common-color-white-100,
                    $common-color-information-900
            ),
            ':hover': (
                    $common-color-information-700,
                    $common-color-information-100,
                    $common-color-information-800
            ),
            ':active': (
                    $common-color-information-900,
                    $common-color-information-100,
                    $common-color-information-950
            ),
            ':disabled': (
                    $common-color-grey-200,
                    $common-color-grey-700,
                    $common-color-grey-300
            ),
    ),
  ),
  'alternative' : (
          'primary': (
                  '': (
                          $common-color-transparent,
                          $common-color-blue-800,
                          $common-color-transparent
                  ),
                  ':hover': (
                          $common-color-blue-100,
                          $common-color-blue-900,
                          $common-color-blue-100
                  ),
                  ':active': (
                          $common-color-blue-200,
                          $common-color-blue-900,
                          $common-color-blue-200
                  ),
                  ':disabled': (
                          $common-color-blue-200,
                          $common-color-blue-600,
                          $common-color-blue-300
                  ),
          ),
          'default': (
                  '': (
                          $common-color-transparent,
                          $common-color-grey-800,
                          $common-color-transparent
                  ),
                  ':hover': (
                          $common-color-grey-200,
                          $common-color-grey-900,
                          $common-color-grey-200
                  ),
                  ':active': (
                          $common-color-grey-300,
                          $common-color-grey-900,
                          $common-color-grey-300
                  ),
                  ':disabled': (
                          $common-color-transparent,
                          $common-color-grey-500,
                          $common-color-transparent
                  ),
          ),
          'success': (
                  '': (
                          $common-color-transparent,
                          $common-color-success-900,
                          $common-color-transparent
                  ),
                  ':hover': (
                          $common-color-success-100,
                          $common-color-success-900,
                          $common-color-success-100
                  ),
                  ':active': (
                          $common-color-success-200,
                          $common-color-success-900,
                          $common-color-success-200
                  ),
                  ':disabled': (
                          $common-color-grey-200,
                          $common-color-grey-700,
                          $common-color-grey-300
                  ),
          ),
          'warning': (
                  '': (
                          $common-color-transparent,
                          $common-color-warning-800,
                          $common-color-transparent
                  ),
                  ':hover': (
                          $common-color-warning-100,
                          $common-color-warning-900,
                          $common-color-warning-100
                  ),
                  ':active': (
                          $common-color-warning-200,
                          $common-color-warning-900,
                          $common-color-warning-200
                  ),
                  ':disabled': (
                          $common-color-grey-200,
                          $common-color-grey-700,
                          $common-color-grey-300
                  ),
          ),
          'danger': (
                  '': (
                          $common-color-transparent,
                          $common-color-danger-800,
                          $common-color-transparent
                  ),
                  ':hover': (
                          $common-color-danger-100,
                          $common-color-danger-800,
                          $common-color-danger-100
                  ),
                  ':active': (
                          $common-color-danger-200,
                          $common-color-danger-800,
                          $common-color-danger-200
                  ),
                  ':disabled': (
                          $common-color-grey-200,
                          $common-color-grey-700,
                          $common-color-grey-300
                  ),
          ),
          'info': (
                  '': (
                          $common-color-transparent,
                          $common-color-information-800,
                          $common-color-transparent
                  ),
                  ':hover': (
                          $common-color-information-100,
                          $common-color-information-800,
                          $common-color-information-100
                  ),
                  ':active': (
                          $common-color-information-200,
                          $common-color-information-800,
                          $common-color-information-200
                  ),
                  ':disabled': (
                          $common-color-grey-200,
                          $common-color-grey-700,
                          $common-color-grey-300
                  ),
          ),
  ),
) !default;

.ipb-button, .btn{
  --ibp-button-border-radius-top-left: 4px;
  --ibp-button-border-radius-top-right: 4px;
  --ibp-button-border-radius-bottom-right: 4px;
  --ibp-button-border-radius-bottom-left: 4px;
  background-color: $common-color-white-100 !important;
  border-radius: var(--ibp-button-border-radius-top-left) var(--ibp-button-border-radius-top-right) var(--ibp-button-border-radius-bottom-right) var(--ibp-button-border-radius-bottom-left);
  border: solid 1px $common-color-blue-700;
  padding: $ipb-button--padding-y $ipb-button--padding-x;
  color: $common-color-blue-800 !important;
  cursor: pointer;
  @each $sType, $aColors in $ipb-button-colors {
    @each $sColor, $sPseudoClasses in $aColors {
      @each $sPseudoClass, $sAttributes in $sPseudoClasses {
        &.ipb-is-#{$sColor}#{if($sType != '', ".ipb-is-#{$sType}", '')}#{$sPseudoClass}, &.btn-#{$sColor}#{if($sType != '', ".#{$sType}", '')}#{$sPseudoClass} {
          background-color: nth($sAttributes, 1) !important;
          color: nth($sAttributes, 2) !important;
          border-color: nth($sAttributes, 3) !important;
        }
      }
    }
  }

    @extend %common-font-size-150;
}

.ipb-button--group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -5px;
  .ipb-button:not(:last-child) {
    --ibp-button-border-radius-top-right: 0px;
    --ibp-button-border-radius-bottom-right: 0px;
  }
  .ipb-button:not(:first-child) {
    --ibp-button-border-radius-top-left: 0px;
    --ibp-button-border-radius-bottom-left: 0px;
    border-left: none;
  }
}