$messaging-block-medallion-size: 40px !default;
$messaging-block-entries-margin-x: 60px !default;
$messaging-self-primary-color: $common-color-blue-100 !default;
$messaging-self-secondary-color: $common-color-blue-800 !default;
$messaging-1st-peer-primary-color: $white !default;
$messaging-1st-peer-secondary-color: $common-color-grey-400 !default;
$messaging-2nd-peer-primary-color: $white !default;
$messaging-2nd-peer-secondary-color: $common-color-grey-400 !default;
$messaging-3rd-peer-primary-color: $white !default;
$messaging-3rd-peer-secondary-color: $common-color-grey-300 !default;
$messaging-4th-peer-primary-color: $white !default;
$messaging-4th-peer-secondary-color: $common-color-grey-400 !default;
$messaging-5th-peer-primary-color: $white !default;
$messaging-5th-peer-secondary-color: $common-color-grey-400 !default;


.caselog-thread {
  position: relative;
  border: 1px solid $common-color-grey-400;
  border-top: none;
}
.caselog-thread--header{
  padding: 8px;
  span{
    color: $gray; /* body: color */
  }
}
.caselog-thread--header-toggler{
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus{
    color: inherit;
    text-decoration: none;
  }

  &:not(:first-child){
    &::before{
      content: "-";
      margin: 0 0.4em 0 0.2em; /* Note: Difference between left and right margin is due to a left space being output because the line break in the HTML isn't tidy */
    }
  }
}
.caselog-thread--header-info{
  > span{
    margin-left: 0.5em;

    > span{
      margin-left: 0.5em;
    }

    &:first-child{
      margin-left: 0;
    }
  }
}
.caselog-thread--content{
  padding: 5px;
  /*max-height: 400px;
  overflow: auto;*/
  background-color: #f2f2f2;
}
.caselog-thread--date{
  margin-bottom: 10px;
  text-align: center;
  color: $gray-light;

  &:first-child{
    display: none;
  }
}
.caselog-thread--block{
  position: relative;
  min-height: 40px; /* .caselog-thread--block-medallion height */
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0px;
  }
}
.caselog-thread--block-medallion,
.caselog-thread--block-entries{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.caselog-thread--block-medallion{
  position: absolute;
  top: 0px;
  left: 0px;
  width: $messaging-block-medallion-size;
  height: $messaging-block-medallion-size;
  text-align: center;
  line-height: $messaging-block-medallion-size;
  font-size: 18px;
  color: $messaging-self-secondary-color; /* .caselog-thread--block-entries color */

  background-size: 100%; /* Full size is necessary for images with filled background to fit nicely in the medallion, even if this means that images with a transparent background might appear cropped */
  background-position: center center;
  background-color: $messaging-self-primary-color; /* .caselog-thread--block-entries background-color */
  background-repeat: no-repeat;
  border-radius: 100%;
}
.caselog-thread--block-user{
  display: none;
  margin-left: 54px;
  font-size: 12px;
  font-weight: bold;
  color: $messaging-self-secondary-color; /* .caselog-thread--block-entries background-color */
}
.caselog-thread--block-entries{
  position: relative;
  display: inline-block;
  margin-left: $messaging-block-entries-margin-x;
  max-width: calc(100% - #{$messaging-block-entries-margin-x});
  background-color: $messaging-self-primary-color;
  color: $messaging-self-secondary-color;
}
.caselog-thread--block-entry{
  position: relative;
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  img{
    max-width: 100%;
  }


  &.closed{
    cursor: pointer;

    .caselog-thread--block-entry-content{
      height: 0px;
      overflow-y: hidden;

      &:after{
        content: "...";
        position: absolute;
        top: 10px;
        left: 9px;
      }
    }
  }
  &:last-child{
    border-bottom: none;
  }
  &:hover{
    .caselog-thread--block-entry-date{
      opacity: 1;
    }

    &:not(.closed){
      .caselog-thread--block-entry-toggler{
        opacity: 1;
      }
    }
  }
}
.caselog-thread--block-entry-content{
  display: block;
  overflow-x: auto;
  overflow-y: hidden;

  > p:last-of-type{
    margin-bottom: 0px;
  }
  /* Force user-generated tables to fit within the container as they often have an hard-coded width */
  table {
    width: unset !important;
    max-width: max-content;
  }
}
.caselog-thread--block-entry-date{
  margin-top: 5px;
  //opacity: 0.6;
  font-size: 10px;
  text-align: right;
  transition: all 0.2s linear;
}
.caselog-thread--block-entry-toggler{
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 2px 5px;
  opacity: 0;
  cursor: pointer;
  background-color: $messaging-self-primary-color; /* .caselog-thread--block-entries background-color */
  transition: all 0.2s linear;
}
.caselog-thread--block-me{
  text-align: right;

  .caselog-thread--block-medallion{
    left: initial;
    right: 0px;
  }
  .caselog-thread--block-user{
    display: none;
    margin-left: initial;
    margin-right: 54px;
  }
  .caselog-thread--block-entries{
    margin-left: initial;
    margin-right: $messaging-block-entries-margin-x;
    text-align: right;

    .caselog-thread--block-entry{
      text-align: left;

      .caselog-thread--block-entry-toggler{
        right: initial;
        left: 5px;
      }
    }
    .caselog-thread--block-entry:first-child{
      .caselog-thread--block-entry-content:before{
        left: initial;
        right: -15px;
        border-right-color: transparent;
        border-left-color: $messaging-self-primary-color; /* .caselog-thread--block-entries background-color */
      }
    }
  }
}
.caselog-thread--block-color-1{
  .caselog-thread--block-medallion{
    color: $messaging-1st-peer-secondary-color;
    background-color: $messaging-1st-peer-primary-color;
  }
  .caselog-thread--block-user{
    color: $messaging-1st-peer-primary-color;
  }
  .caselog-thread--block-entries{
    color: $messaging-1st-peer-secondary-color;
    background-color: $messaging-1st-peer-primary-color;

    .caselog-thread--block-entry{
      .caselog-thread--block-entry-toggler{
        background-color: $messaging-1st-peer-primary-color;
      }
    }
    .caselog-thread--block-entry:first-child{
      .caselog-thread--block-entry-content:before{
        border-top-color: $messaging-1st-peer-primary-color;
        border-right-color: $messaging-1st-peer-primary-color;
      }
    }
  }
}
.caselog-thread--block-color-2{
  .caselog-thread--block-medallion{
    color: $messaging-2nd-peer-secondary-color;
    background-color: $messaging-2nd-peer-primary-color;
  }
  .caselog-thread--block-user{
    color: $messaging-2nd-peer-primary-color;
  }
  .caselog-thread--block-entries{
    color: $messaging-2nd-peer-secondary-color;
    background-color: $messaging-2nd-peer-primary-color;

    .caselog-thread--block-entry{
      .caselog-thread--block-entry-toggler{
        background-color: $messaging-2nd-peer-primary-color;
      }
    }
    .caselog-thread--block-entry:first-child{
      .caselog-thread--block-entry-content:before{
        border-top-color: $messaging-2nd-peer-primary-color;
        border-right-color: $messaging-2nd-peer-primary-color;
      }
    }
  }
}
.caselog-thread--block-color-3{
  .caselog-thread--block-medallion{
    color: $messaging-3rd-peer-secondary-color;
    background-color: $messaging-3rd-peer-primary-color;
  }
  .caselog-thread--block-user{
    color: $messaging-3rd-peer-primary-color;
  }
  .caselog-thread--block-entries{
    color: $messaging-3rd-peer-secondary-color;
    background-color: $messaging-3rd-peer-primary-color;

    .caselog-thread--block-entry{
      .caselog-thread--block-entry-toggler{
        background-color: $messaging-3rd-peer-primary-color;
      }
    }
    .caselog-thread--block-entry:first-child{
      .caselog-thread--block-entry-content:before{
        border-top-color: $messaging-3rd-peer-primary-color;
        border-right-color: $messaging-3rd-peer-primary-color;
      }
    }
  }
}
.caselog-thread--block-color-4{
  .caselog-thread--block-medallion{
    color: $messaging-4th-peer-secondary-color;
    background-color: $messaging-4th-peer-primary-color;
  }
  .caselog-thread--block-user{
    color: $messaging-4th-peer-primary-color;
  }
  .caselog-thread--block-entries{
    color: $messaging-4th-peer-secondary-color;
    background-color: $messaging-4th-peer-primary-color;

    .caselog-thread--block-entry{
      .caselog-thread--block-entry-toggler{
        background-color: $messaging-4th-peer-primary-color;
      }
    }
    .caselog-thread--block-entry:first-child{
      .caselog-thread--block-entry-content:before{
        border-top-color: $messaging-4th-peer-primary-color;
        border-right-color: $messaging-4th-peer-primary-color;
      }
    }
  }
}
.caselog-thread--block-color-5{
  .caselog-thread--block-medallion{
    color: $messaging-5th-peer-secondary-color;
    background-color: $messaging-5th-peer-primary-color;
  }
  .caselog-thread--block-user{
    color: $messaging-5th-peer-primary-color;
  }
  .caselog-thread--block-entries{
    color: $messaging-5th-peer-secondary-color;
    background-color: $messaging-5th-peer-primary-color;

    .caselog-thread--block-entry{
      .caselog-thread--block-entry-toggler{
        background-color: $messaging-5th-peer-primary-color;
      }
    }
    .caselog-thread--block-entry:first-child{
      .caselog-thread--block-entry-content:before{
        border-top-color: $messaging-5th-peer-primary-color;
        border-right-color: $messaging-5th-peer-primary-color;
      }
    }
  }
}




.caselog-thread--header {
  background-color: $common-color-white-100;
  border-bottom: none;
  padding: 12px;

  @extend %common-font-size-100;
  span {
    color: $common-color-grey-800;
  }
}

.caselog-thread--content {
  padding: 12px;
  background-color: $common-color-grey-100;
}

.caselog-thread--date {
  color: $common-color-grey-800;
  @extend %common-font-size-150;
}

.caselog-thread--block-color-1 .caselog-thread--block-entries {
  color: $common-color-grey-700;
  background-color: white;
  border-radius: 5px;
}

.caselog-thread--block-medallion, .caselog-thread--block-entries {
  box-shadow: none;
  border: 1px solid $common-color-grey-200;
}

