/* SCSS variables */
$ipb-group-items-action--hover--background-color: common-adjust-alpha($common-color-blue-grey-900, .1) !default;

$ipb-page--list--group-item-actions: $common-spacing-600 $common-spacing-700 !default;

$ipb-item-action--icon--margin-right: 6px !default;

.list-group-item-actions,.item-action-wrapper,.group-actions{
  .panel-body{
    padding: 5px;
    a{
      display: inline-block;
      width: 100%;
    }
  }
  a{
    padding: 8px 14px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: $common-color-blue-grey-900;
    &:hover{
      background-color: $ipb-group-items-action--hover--background-color;
    }
  }
}

.ipb-item-action--icon {
  margin-right: $ipb-item-action--icon--margin-right;
}