html, body {
	margin: 0;
	padding:0;
	overflow-y: auto;
}
#portal {
	height: 100%;
}
#content {
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	overflow-y: auto;
	no.max-width: 90%;
	min-width: 960px;
	position: relative;
	display: block;
	clear: both;
}
div#portal #welcome {
	display: none;
}
div#portal #banner {
	background-color: #F6F6F1;
	display: block;
	height: 60px;
	vertical-align: middle;
	width: 100%;
}
div#portal #admin-banner {
	width: 100%;
}
div#portal #logo {
	background: url("../images/itop-logo.png") no-repeat scroll 0 0 transparent;
	border: 0 none;
	display: inline-block;
	height: 116px;
	line-height: 48px;
	margin-left: 20px;
	margin-right: 20px;
	padding-right: 50px;
	text-align: center;
	vertical-align: middle;
	width: 240px;
}

div#menu {
	display: block;
	left: 200px;
	line-height: 48px;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	overflow: hidden;
}

#portal_menu {
	height: 60px;
}

#change_pwd {
	background: url("../images/password.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
}

#logoff {
	background: url("../images/logoff.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
}
#logoff span {
}

div.button {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}
a.button, a.button:visited {
	color: #1C94C4;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	vertical-align: middle;
}

a.button span {
	margin-left: 50px;
	margin-right: 20px;
	vertical-align: middle;
}

#close_form_table {
	width: 100%;
	padding: 20px;
}

#request_details td {
	text-align:left;
}

#request_details td fieldset{
	xxxheight:100%;
}

#form_details {
	display: inline-block;
}

.wizContainer table {
	display: inline-block;
	text-align: left;
}

#user_request_comment {
	width: 30em;
	height: 20em;
}

#buttons {
	margin-top: 1em;
}
div#buttons #btn_cancel {
	margin-right: 50px;
}

div#buttons #btn_back {
	margin-left: 50px;
	margin-right: 5px;
}

div#buttons #btn_next {
	margin-left: 5px;
}

div#buttons #btn_finish {
	margin-left: 5px;
}
table.listContainer {
	clear: both;
	width: 100%;
}
h1 {
	font-weight: bold;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
}

div.DrawerHandle {
	display:none;
}
div.HRDrawer {
	background: transparent;
	border: 0;
	height: 0.5em;
}

.SearchDrawer {
	background-color: #F9EDBF;
	border: 0;
    -moz-border-radius: 4px 4px 4px 4px;
}
.SearchDrawer label {
	background: transparent;
}
#open_incidents, #open_requests, #open_changes, #request_details {
	margin-bottom: 1em;
}
legend {
	background: url("./images/header_bg.png") repeat-x scroll 0 0 #D4D4D4;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
    border-style: solid;
    border-width: 1px;
    font-size: 1.1em;
    font-weight: bold;
    color: #222222;
    font-weight: bold;
    text-shadow: 1px 1px #FFFFFF;
    padding: 5px;
    -moz-border-radius: 4px 4px 4px 4px;
    margin-top:0;
}
table.details > tbody > tr > td {
  padding-bottom: 5px;
  padding-top: 3px;
  padding-right: 5px;
  border: 0;
}
.label {
	font-weight: bold;
}
.caselog {
	display:block;
	width: 100%;
}
.caselog textarea {
	resize: none;
}
.edit_item {
	margin-bottom: 1em;
}
div.edit_item span div table {
  width: 100%;
}
div.edit_item span div table tbody tr td textarea{
  width: 99%;
}
div#ticket_shortcuts form {
	display: inline-block;
}