<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
         <fileExtensions applyToWebDAV="false" allowUnlisted="false"></fileExtensions>
      </requestFiltering>
      <authorization>
        <deny users="*" /> <!-- Denies all users -->
      </authorization>
    </security>
  </system.webServer>
</configuration>