
{% extends 'base.html.twig' %}

{% block body %}

    <div class="container p-5">

        <h3>Form SDK : Components</h3>

        {# specific form theme #}
        {% if theme is defined %}
            {% form_theme form theme %}
        {% endif %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary">
        {{ form_end(form) }}

    </div>

    <script>

        // auto install widget based on dom data
        $(document).ready(function(e){
            iTopFormWidgetFactory.AutoInstall();
        });

    </script>

{% endblock %}